## Understanding of Data 
1. **ID**: Unique identifier for the player.
2. **Name**: The player's common name.
3. **LongName**: The player's full name.
4. **photoUrl**: URL to the player's photo.
5. **playerUrl**: URL to the player's profile.
6. **Nationality**: The player's nationality.
7. **Age**: The player's age.
8. **↓OVA**: Overall rating at the time of data capture.
9. **POT**: Potential rating, the maximum overall rating the player can achieve.
10. **Club**: Current club the player belongs to.
11. **Contract**: Years the player is contracted to the club.
12. **Positions**: Player's preferred positions on the field.
13. **Height**: Player's height.
14. **Weight**: Player's weight.
15. **Preferred Foot**: Whether the player is left-footed or right-footed.
16. **BOV**: Best Overall rating, presumably the highest overall rating the player has achieved.
17. **Best Position**: Player's best position on the field.
18. **Joined**: Date when the player joined their current club.
19. **Loan Date End**: Date when the player's loan ends (if applicable).
20. **Value**: Market value of the player.
21. **Wage**: Weekly wage of the player.
22. **Release Clause**: Release clause amount in case another club wants to buy the player out of their contract.
23. **Attacking**: Various attributes related to attacking skills.
24. **Crossing**: Skill level in crossing the ball.
25. **Finishing**: Skill level in finishing chances.
26. **Heading Accuracy**: Skill level in winning aerial duels.
27. **Short Passing**: Skill level in short passing accuracy.
28. **Volleys**: Skill level in striking volleys.
29. **Skill**: Various attributes related to technical skills.
30. **Dribbling**: Skill level in dribbling.
31. **Curve**: Skill level in curving the ball.
32. **FK Accuracy**: Skill level in free-kick accuracy.
33. **Long Passing**: Skill level in long passing accuracy.
34. **Ball Control**: Skill level in ball control.
35. **Movement**: Various attributes related to movement on the field.
36. **Acceleration**: Speed in acceleration.
37. **Sprint Speed**: Maximum speed in sprinting.
38. **Agility**: Skill level in agility.
39. **Reactions**: Ability to react quickly to situations.
40. **Balance**: Skill level in balance.
41. **Power**: Various attributes related to physical power.
42. **Shot Power**: Power in shooting the ball.
43. **Jumping**: Skill level in jumping.
44. **Stamina**: Endurance level during a match.
45. **Strength**: Physical strength level.
46. **Long Shots**: Skill level in taking long-range shots.
47. **Mentality**: Various attributes related to mental aspects of the game.
48. **Aggression**: Level of aggression on the field.
49. **Interceptions**: Skill level in intercepting passes.
50. **Positioning**: Skill level in positioning on the field.
51. **Vision**: Skill level in vision, or ability to see and execute passes.
52. **Penalties**: Skill level in taking penalties.
53. **Composure**: Ability to remain composed under pressure.
54. **Defending**: Various attributes related to defensive skills.
55. **Marking**: Skill level in marking opponents.
56. **Standing Tackle**: Skill level in performing standing tackles.
57. **Sliding Tackle**: Skill level in performing sliding tackles.
58. **Goalkeeping**: Various attributes related to goalkeeping (for goalkeepers only).
59. **GK Diving**: Goalkeeper's skill level in diving.
60. **GK Handling**: Goalkeeper's skill level in handling the ball.
61. **GK Kicking**: Goalkeeper's skill level in kicking the ball.
62. **GK Positioning**: Goalkeeper's skill level in positioning.
63. **GK Reflexes**: Goalkeeper's skill level in reflexes.
64. **Total Stats**: Sum of all the player's attribute ratings.
65. **Base Stats**: A subset of the total stats, typically including the most relevant attributes for the player's position.
66. **W/F**: Weak Foot rating, indicating the player's ability to use their non-preferred foot.
67. **SM**: Skill Moves rating, indicating the player's ability to perform skill moves.
68. **A/W**: Attacking Work Rate, indicating the player's tendency to participate in offensive actions.
69. **D/W**: Defensive Work Rate, indicating the player's tendency to participate in defensive actions.
70. **IR**: International Reputation, indicating the player's reputation on the international stage.
71. **PAC**: Pace attribute.
72. **SHO**: Shooting attribute.
73. **PAS**: Passing attribute.
74. **DRI**: Dribbling attribute.
75. **DEF**: Defensive attribute.
76. **PHY**: Physical attribute.
77. **Hits**: Number of hits/views for the player's profile or related content.

## Data Cleaning

## Imports and loading the dataset

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:

players_df =pd.read_csv("fifa21_raw_data_v2.csv",low_memory=False)
players_df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

## Overview of the dataset

In [3]:
players_df.shape

(18979, 77)

In [4]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

# Exploration by Column

## Columns: 'photoUrl' and 'playerUrl'
- Both columns are unnecessary for data analysis and they are removed

In [5]:

players_df = players_df.drop(columns = ['photoUrl', 'playerUrl'])
players_df.sample(10)

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
14550,231346,A. Alégué,Alexis Alégué,Cameroon,23,61,64,\n\n\n\nRodez Aveyron Football,2020 ~ 2023,"RM, LM",...,Medium,Low,1 ★,65,57,57,67,28,43,2
3658,225995,P. Stojanović,Petar Stojanović,Slovenia,24,72,76,\n\n\n\nDinamo Zagreb,2016 ~ 2024,"RB, RM",...,High,Medium,1 ★,81,50,67,71,64,72,19
6795,225145,R. Mphahlele,Ramahlwe Mphahlele,South Africa,30,68,68,\n\n\n\nKaizer Chiefs,2016 ~ 2021,"RB, CB, RWB",...,Medium,Medium,1 ★,66,33,59,64,69,62,2
13291,209750,I. Lawlor,Ian Lawlor,Republic of Ireland,25,62,67,\n\n\n\nOldham Athletic,"Jun 30, 2021 On Loan",GK,...,Medium,Medium,1 ★,65,59,60,64,45,61,6
18605,257295,B. Blythe,Ben Blythe,England,18,51,68,\n\n\n\nDoncaster Rovers,2020 ~ 2022,CB,...,Medium,Medium,1 ★,56,22,33,36,50,60,NaN
6650,241743,U. Segura,Ulises Segura,Costa Rica,27,68,68,\n\n\n\nDC United,2018 ~ 2020,"RM, LM, CM",...,Medium,High,1 ★,65,64,66,68,55,64,4
4676,194669,M. Ritzmaier,Marcel Ritzmaier,Austria,27,70,71,\n\n\n\nSK Rapid Wien,"Jun 30, 2021 On Loan","CM, LWB, LM",...,Medium,Medium,1 ★,70,67,72,72,60,69,4
4869,204136,M. de Leeuw,Michael de Leeuw,Netherlands,33,70,70,\n\n\n\nFC Emmen,2019 ~ 2021,"ST, CAM",...,Medium,High,1 ★,53,69,61,69,58,70,7
15339,254397,R. Escobar,Rubén Escobar,Paraguay,30,60,60,\n\n\n\nSportivo Luqueño,2020 ~ 2020,GK,...,Medium,Medium,1 ★,60,60,60,60,25,60,1
4569,224013,Sergi Canós,Sergi Canós Tenés,Spain,23,70,76,\n\n\n\nBrentford,2017 ~ 2023,"RW, LW, RWB",...,High,Medium,1 ★,72,67,64,73,52,63,11

## Column: 'Name'
- It's an abbreviated form of the name of the player.- 
It seems to be many duplicated values, but when the query is done to the 'LongName', they are different players- 
No further actions

In [6]:
# Sample

players_df['Name'].sample(10)

1639           T. Rincón
3495     Evandro Rochedo
14611      Doo Hyun Seok
12086        T. Matsuura
12594        D. Gugganig
15079           D. Watts
13650      E. Israelsson
11200      S. Maierhofer
2182            E. Ponce
12123          A. Sotona
Name: Name, dtype: object

In [7]:

players_df['Name'].is_unique

False

In [8]:

players_df['Name'].duplicated().value_counts()

Name
False    17920
True      1059
Name: count, dtype: int64

In [9]:

players_df.loc[players_df['Name'].duplicated()]

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
498,162240,M. Dembélé,Mousa Dembélé,Belgium,32,80,80,\n\n\n\nGuangzhou R&F FC,2019 ~ 2021,"CM, CAM, CDM",...,High,High,3 ★,73,68,77,87,73,79,55
574,216531,Paulinho,João Paulo Dias Fernandes,Portugal,27,79,80,\n\n\n\nSC Braga,2017 ~ 2023,ST,...,High,Medium,1 ★,67,78,64,74,45,81,22
598,202642,Fernando,Fernando Lucas Martins,Brazil,28,79,80,\n\n\n\nBeijing Sinobo Guoan FC,2020 ~ 2022,"CDM, CM",...,Medium,Medium,1 ★,75,67,77,73,75,76,27
685,168607,Rafinha,Márcio Rafael Ferreira de Souza,Brazil,34,79,79,\n\n\n\nOlympiacos CFP,2020 ~ 2022,"RB, LB",...,Medium,Medium,2 ★,74,46,74,78,74,65,62
694,247204,Emerson,Emerson Leite De Souza,Brazil,21,78,88,\n\n\n\nReal Betis,2019 ~ 2021,"RB, RM, RWB",...,High,Medium,1 ★,80,62,70,73,74,76,688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18913,256415,M. Harris,Michael Harris,Republic of Ireland,17,49,62,\n\n\n\nDerry City,2020 ~ 2020,"RW, LW, RM",...,High,Medium,1 ★,55,48,45,49,29,43,NaN
18925,256602,S. Navarro,Sebastián Navarro,Colombia,19,48,61,\n\n\n\nMillonarios FC,2020 ~ 2024,CAM,...,Medium,Medium,1 ★,61,37,51,44,33,52,NaN
18931,256552,D. Aravena,Dylan Aravena,Chile,19,48,61,\n\n\n\nCD Huachipato,2020 ~ 2024,CB,...,Low,High,1 ★,64,26,27,30,49,56,NaN
18933,253168,J. Smith,Jack Smith,England,18,48,63,\n\n\n\nStevenage,2019 ~ 2021,CM,...,Medium,Medium,1 ★,66,36,46,49,44,67,NaN
18960,251263,L. Smith,Laurence Smith,England,19,48,65,\n\n\n\nFleetwood Town,2019 ~ 2021,RM,...,Medium,Medium,1 ★,62,39,43,50,26,46,NaN

In [10]:

# An example of a duplicated name in orther to find if it's really the same player or if they are different

def choose_name(name):
    
    if players_df.loc[players_df['Name'] == name].shape[0]!=0:
        return players_df.loc[players_df['Name'] == name]
    else:
        return "dosen't exist"


choose_name("J. Smith")

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
7925,222876,J. Smith,Jordan Smith,England,25,67,69,\n\n\n\nNottingham Forest,2013 ~ 2022,GK,...,Medium,Medium,1 ★,65,63,55,73,34,64,4
9642,235014,J. Smith,Jonny Smith,England,22,65,73,\n\n\n\nSwindon Town,"Jun 30, 2021 On Loan","LM, RM",...,High,Medium,1 ★,80,60,61,66,37,55,7
18933,253168,J. Smith,Jack Smith,England,18,48,63,\n\n\n\nStevenage,2019 ~ 2021,CM,...,Medium,Medium,1 ★,66,36,46,49,44,67,NaN

## Column: 'LongName'
- Column: 'LongName'
- The duplicates seems to be cases of homonymy
- No further actions

In [11]:
# Counting duplicated values

players_df['LongName'].duplicated().value_counts()

LongName
False    18852
True       127
Name: count, dtype: int64

In [12]:
# Listing duplicated values

players_df.loc[players_df['LongName'].duplicated()]

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
1239,215051,L. López,Lisandro López,Argentina,30,76,76,\n\n\n\nBoca Juniors,2020 ~ 2023,CB,...,Medium,High,3 ★,62,51,50,61,77,74,17
2511,213017,B. Davies,Ben Davies,England,24,73,79,\n\n\n\nPreston North End,2013 ~ 2021,CB,...,Medium,Medium,1 ★,74,39,58,63,75,75,30
2517,167431,G. Castro,Gonzalo Castro,Germany,33,73,73,\n\n\n\nVfB Stuttgart,2018 ~ 2021,"CM, LB",...,Medium,Medium,2 ★,55,67,75,74,67,63,33
2957,232646,C. Bravo,Claudio Bravo,Argentina,23,73,82,\n\n\n\nClub Atlético Banfield,2016 ~ 2021,LB,...,Medium,Medium,1 ★,74,50,64,73,71,65,39
4275,252064,L. Krejčí,Ladislav Krejčí,Czech Republic,21,71,78,\n\n\n\nSparta Praha,2019 ~ 2023,"CDM, CB",...,Medium,High,1 ★,64,56,61,64,70,79,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18707,245029,Wang Peng,Peng Wang,China PR,22,51,60,\n\n\n\nGuangzhou R&F FC,2020 ~ 2023,"CM, CDM",...,Medium,Medium,1 ★,66,43,52,51,43,51,NaN
18765,243202,A. Jones,Alfie Jones,England,19,50,66,\n\n\n\nCrawley Town,2019 ~ 2021,GK,...,Medium,Medium,1 ★,56,48,45,52,22,44,NaN
18782,251563,J. Wright,Joe Wright,England,19,50,64,\n\n\n\nMillwall,2019 ~ 2024,GK,...,Medium,Medium,1 ★,53,54,47,48,18,46,NaN
18822,255948,M. Byrne,Mark Byrne,Republic of Ireland,19,50,65,\n\n\n\nSligo Rovers,2020 ~ 2020,"CAM, LW, RW",...,High,Medium,1 ★,60,36,53,50,37,50,NaN
18865,252332,Zhang Wei,Wei Zhang,China PR,20,49,57,\n\n\n\nHebei China Fortune FC,2019 ~ 2024,"RM, RW",...,Medium,Medium,1 ★,57,38,47,48,48,51,NaN

In [13]:
# Review of some names individualy in orther to conlude if they are effectively duplicated values

players_df.loc[players_df['LongName'] == 'Joe Wright']

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
12613,214682,J. Wright,Joe Wright,Wales,25,63,69,\n\n\n\nDoncaster Rovers,2016 ~ 2021,CB,...,Medium,Medium,1 ★,44,29,44,55,65,70,3
18782,251563,J. Wright,Joe Wright,England,19,50,64,\n\n\n\nMillwall,2019 ~ 2024,GK,...,Medium,Medium,1 ★,53,54,47,48,18,46,NaN

## Columns: 'Age' and 'Nationality'

    This columns doesn't have any manifest trouble

In [14]:

players_df['Nationality'].describe()

count       18979
unique        164
top       England
freq         1705
Name: Nationality, dtype: object

In [15]:

players_df['Age'].describe()

count    18979.000000
mean        25.194109
std          4.710520
min         16.000000
25%         21.000000
50%         25.000000
75%         29.000000
max         53.000000
Name: Age, dtype: float64

## Column: 'Club'
- Remove the "\n" characters- 
The name of some German clubs have a "1." at the start of the field, so the number is removed.

In [16]:

players_df['Club'].sample(10)

18042            \n\n\n\nCheltenham Town
778      \n\n\n\nWolverhampton Wanderers
17927                 \n\n\n\nCD Tondela
6464              \n\n\n\nViktoria Plzeň
18344             \n\n\n\nWigan Athletic
9657          \n\n\n\nArsenal de Sarandí
3093                     \n\n\n\nUdinese
14183       \n\n\n\nRiver Plate Asunción
6955                    \n\n\n\nCracovia
2745               \n\n\n\nFCSB (Steaua)
Name: Club, dtype: object

In [17]:

players_df['Club'].value_counts()

Club
No Club                           237
\n\n\n\nFC Barcelona               33
\n\n\n\nBurnley                    33
\n\n\n\nRC Celta                   33
\n\n\n\nTorino                     33
                                 ...
\n\n\n\nMelbourne Victory          18
\n\n\n\nBrisbane Roar              18
\n\n\n\nAdelaide United            18
\n\n\n\nPerth Glory                18
\n\n\n\nCentral Coast Mariners     18
Name: count, Length: 682, dtype: int64

In [18]:
# Removes the \n characters at the start of the string

players_df['Club'] = players_df['Club'].str.strip()
players_df['Club'].sample(20)

10147           Nacional Potosí
4007           Panathinaikos FC
8916          Bayern München II
17674        Club Atlético Grau
11791                Kilmarnock
13842              Cerezo Osaka
10050                Portsmouth
6663                 FC Utrecht
8070               Oita Trinita
6573                  FC Luzern
7806                    No Club
18027      West Bromwich Albion
8060     River Plate Montevideo
11722               FC Botoşani
10825                 Girona FC
9373                Real Oviedo
2244          Stade Brestois 29
15284                  RC Celta
7768               Wisła Kraków
17575                AC Ajaccio
Name: Club, dtype: object

In [19]:
# Check for club's names starting with a number

players_df['Club'].loc[players_df['Club'].str.contains('^[0-9]', regex=True)].value_counts()

Club
1. FSV Mainz 05          32
1. FC Köln               31
1. FC Nürnberg           30
1. FC Heidenheim 1846    30
1. FC Union Berlin       28
1. FC Kaiserslautern     28
1. FC Magdeburg          28
1. FC Saarbrücken        27
Name: count, dtype: int64

In [20]:
#Removes the number at the start of the clubs

players_df['Club'] = players_df['Club'].str.replace('1. ', '')
players_df.loc[players_df['Club'].str.startswith('1.')]

Empty DataFrame
Columns: [ID, Name, LongName, Nationality, Age, ↓OVA, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 75 columns]

## Explanation of Columns: 'Contract', 'Joined', and 'Loan Date End'

- These columns represent the dates indicating the beginning and end of the contract between the player and the club.
- Theo indicate instances of player loans.
- The presentation of this information might be unclear and could impact its usability in subsequent analy.es.is

In [21]:

players_df['Contract'].sample(10)

10101    2019 ~ 2021
620      2016 ~ 2021
8721     2016 ~ 2021
17473    2018 ~ 2021
16258    2020 ~ 2021
8834     2020 ~ 2024
1869     2014 ~ 2022
17170    2019 ~ 2022
6606     2020 ~ 2024
10425    2018 ~ 2022
Name: Contract, dtype: object

In [22]:

players_df[['Contract', 'Joined', 'Loan Date End']].sample(10)

          Contract        Joined Loan Date End
13136  2019 ~ 2023   Jul 1, 2019           NaN
15895  2019 ~ 2024   Jul 1, 2019           NaN
10966  2019 ~ 2022   Aug 9, 2019           NaN
18523  2018 ~ 2024   Jul 1, 2018           NaN
8595   2019 ~ 2022  Jan 14, 2019           NaN
4189   2013 ~ 2021   Jul 1, 2013           NaN
16779  2019 ~ 2023  Sep 26, 2019           NaN
14597  2015 ~ 2021   Sep 9, 2015           NaN
7946   2019 ~ 2021   Jan 7, 2019           NaN
12694  2020 ~ 2022  Jan 10, 2020           NaN

## Column: 'Contract'

Contains the years of beginning and ending of the contract. In the case of a loan, it's indicated with the legend 'On loan' along with the initial date. This information is derived from the 'Joined' and 'Loan Date End' columns. The aim is to represent only the year of beginning and ending of the contract, regardless of the contractual relation.

### Preparing 'Joined' and 'Loan Date End' Columns:

1. **'Joined' Column:**
   Convert the 'Joined' column to datetime format to ensure uniformity and facilitate date operations. This conversion will make the dates more interpretable and easier to work with.

2. **'Loan Date End' Column:**
   Convert the 'Loan Date End' column to datetime format as well. When the value is 'On loan', it signifies an ongoing loan contract. Retain this designation for loan contracts.

By performing these transformations, we set the stage for creating the 'Contract' column, which will succinctly represent the years of contract initiation and termination, with special handling for loan contracts.

The type of contract (loan) will be captured in a new column 'On Loan', which will have a boolean type with 'True' indicating loans and 'False' indicating other types of contracts.

In [23]:

players_df['Contract'].sample(10)

61       2011 ~ 2023
10639    2019 ~ 2021
3013     2019 ~ 2023
13391           Free
9346     2020 ~ 2020
13265    2019 ~ 2021
2542     2019 ~ 2023
9774     2020 ~ 2023
10255    2020 ~ 2022
102      2019 ~ 2024
Name: Contract, dtype: object

In [24]:

players_df[['Contract', 'Joined', 'Loan Date End']].sample(10)

          Contract        Joined Loan Date End
6140   2019 ~ 2020  Nov 11, 2019           NaN
14001  2020 ~ 2021  Jul 31, 2020           NaN
7292   2006 ~ 2021   Jan 1, 2006           NaN
18089  2020 ~ 2022   Mar 4, 2020           NaN
492    2018 ~ 2022  Aug 23, 2018           NaN
3820   2018 ~ 2021  Jul 23, 2018           NaN
9628   2020 ~ 2025   Jan 3, 2020           NaN
18174  2020 ~ 2021  Jul 22, 2020           NaN
17087  2019 ~ 2022   Jan 1, 2019           NaN
17295  2019 ~ 2024  Jul 24, 2019           NaN

In [25]:

players_df[['Contract', 'Joined', 'Loan Date End']].dtypes

Contract         object
Joined           object
Loan Date End    object
dtype: object

In [26]:
# Sample of values containing 'On Loan'

players_df[['Contract', 'Joined','Loan Date End']].loc[players_df['Contract'].str.contains('On Loan')].sample(10)

                   Contract        Joined Loan Date End
6894   Jun 30, 2021 On Loan  Jan 14, 2019  Jun 30, 2021
17205  Jun 30, 2021 On Loan  Nov 17, 2017  Jun 30, 2021
12122  Jun 30, 2021 On Loan   Jan 7, 2016  Jun 30, 2021
2204   Jun 30, 2021 On Loan   Jul 1, 2017  Jun 30, 2021
755    Jun 30, 2021 On Loan  Jul 23, 2019  Jun 30, 2021
4378   Jun 30, 2021 On Loan   Jul 1, 2018  Jun 30, 2021
11997  Jun 30, 2021 On Loan   Jan 1, 2016  Jun 30, 2021
11806  Jun 30, 2021 On Loan   Sep 1, 2014  Jun 30, 2021
14069  Jun 30, 2021 On Loan   Jul 1, 2018  Jun 30, 2021
8187   Jun 30, 2021 On Loan  Aug 31, 2016  Jun 30, 2021

In [27]:
#Converts the 'Joined' column to datetime

players_df['Joined'] = pd.to_datetime(players_df['Joined'])
players_df['Joined'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Joined
Non-Null Count  Dtype
--------------  -----
18979 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 148.4 KB

In [28]:
# Exploring null values in 'Loan Date End'

players_df['Loan Date End'].isna().value_counts()

Loan Date End
True     17966
False     1013
Name: count, dtype: int64

In [29]:
#Assings pd.NaT to NaN values

players_df['Loan Date End'] = players_df['Loan Date End'].fillna(pd.NaT)

# Transforms to datetime all values in the 'Loan Date End' column

players_df['Loan Date End'] = pd.to_datetime(players_df['Loan Date End'])

players_df['Loan Date End'].sample(10)

12380          NaT
5163           NaT
12918          NaT
8571    2021-06-30
15077          NaT
10482          NaT
17450          NaT
12974          NaT
12032          NaT
4387           NaT
Name: Loan Date End, dtype: datetime64[ns]

In [30]:
#Checks the results of the dtype convertion for 'On Loan' players

players_df[['Contract', 'Joined','Loan Date End']].loc[players_df['Contract'].str.contains('On Loan')].sample(10)

                   Contract     Joined Loan Date End
8551   Jun 30, 2021 On Loan 2018-07-01    2021-06-30
10469  Jun 30, 2021 On Loan 2017-07-01    2021-06-30
6912   Jun 30, 2021 On Loan 2019-01-25    2021-06-30
4482   Jun 30, 2021 On Loan 2014-07-31    2021-06-30
1327   Jun 30, 2021 On Loan 2015-07-31    2021-06-30
13309  Jun 30, 2021 On Loan 2016-07-01    2021-06-30
1669   Jun 30, 2021 On Loan 2018-08-21    2021-06-30
7059   Jun 30, 2021 On Loan 2019-01-01    2021-06-30
12084  Nov 22, 2020 On Loan 2018-01-05    2020-11-22
7297   Jun 30, 2021 On Loan 2019-01-15    2021-06-30

In [31]:
# Indexes of the player whose contract is "On Loan"

indexes = players_df.loc[players_df['Contract'].str.contains('On Loan')].index

# Creates a Series with the len players_df, assigns all values as False

on_loan = pd.Series([False for i in range(len(players_df))])

# Assigns True to the indexes of players "On Loan"

on_loan.iloc[indexes] = True

# Joins the on_loan Series to the players_df Dataframe

players_df['On Loan'] = on_loan.values

# Checks with a sample from the whole dataframe

players_df[['Contract', 'On Loan']].sample(15)

          Contract  On Loan
13719  2018 ~ 2024    False
12115  2019 ~ 2021    False
18934  2020 ~ 2024    False
11601  2019 ~ 2021    False
15694  2018 ~ 2023    False
7415   2020 ~ 2022    False
6003   2020 ~ 2023    False
5519   2020 ~ 2023    False
15422  2020 ~ 2022    False
6834   2016 ~ 2021    False
18955  2020 ~ 2024    False
15569  2019 ~ 2021    False
17867  2019 ~ 2021    False
2949   2019 ~ 2022    False
8874   2020 ~ 2024    False

In [32]:
# Adjusting the 'Contract' column for the begining and ending years of the 'On Loan" cases

for indx in indexes:
    beg_year = players_df.iloc[indx]['Joined'].strftime('%Y')
    end_year = players_df.iloc[indx]['Loan Date End'].strftime('%Y')
    contract_str = ' ~ '.join((beg_year, end_year))
    players_df.loc[indx, 'Contract'] = contract_str
players_df.iloc[indexes]['Contract'].sample(15)

8643     2015 ~ 2021
4440     2018 ~ 2021
12182    2019 ~ 2021
14468    2020 ~ 2020
13693    2019 ~ 2021
4758     2019 ~ 2021
12733    2017 ~ 2021
7275     2019 ~ 2021
6751     2017 ~ 2021
8479     2018 ~ 2021
11111    2018 ~ 2022
6274     2018 ~ 2021
7131     2012 ~ 2021
4060     2019 ~ 2021
1872     2017 ~ 2021
Name: Contract, dtype: object

## Columns: 'Positions' and 'Best Position'
- Both columns reflects player's field position
- A new dataframe with the meaning of the abbreviations is created in orther to facilitate further analysis

In [33]:

players_df[['LongName', 'Positions', 'Best Position']].sample(10)

                             LongName    Positions Best Position
18653                    Cian Bargary       LM, RM            RM
6003   Felipe Augusto Rodrigues Pires       LM, RM            RM
1991                  Sebastián Villa   RM, RW, LM            RM
8982                         Long Tan   LW, RW, ST            ST
3061                  Daniele Padelli           GK            GK
15794                   Danny Johnson           ST            ST
12300                   Min Hyeok Kim           CM           CAM
11947                 Piotr Malarczyk           CB            CB
15065                  Adrian Hajdari  RB, LB, CDM            RB
18581                 Harvey Saunders           ST            ST

In [34]:
# Splits the 'Positions' columns into a list

players_df['Positions'] = players_df['Positions'].str.split(',')
players_df['Positions'].sample(15)

5862          [CDM,  CM]
5735          [LB,  LWB]
4115     [RM,  RW,  CAM]
3304               [CDM]
10607         [CAM,  CM]
4744           [CB,  LB]
17473          [CB,  LB]
10424          [CB,  ST]
18126               [ST]
3511                [GK]
7726                [CB]
9302           [RM,  LM]
14301               [RB]
1583                [CB]
17046               [LB]
Name: Positions, dtype: object

In [35]:
#
positions_df = pd.DataFrame({'Abbreviation': ['GK', 'LB', 'CB', 'RB', 'LWB', 'RWB', 'CDM', 'LM',
                                              'CM', 'RM', 'CAM', 'LW', 'RW', 'LF', 'CF', 'RF', 'ST'],
                            'Position': ['Goalkeeper', 'Left-Back', 'Central-Back', 'Right-Back', 'Left Wing-Back',
                                         'Right Wing-Back', 'Defensive Midfielder', 'Left Midfielder', 
                                         'Central Midfielder', 'Right Midfielder', 'Attacking Midfielder',
                                         'Left Winger', 'Right Winger', 'Left Forward', 'Centre Forward', 
                                         'Right Forward', 'Striker']})
positions_df

   Abbreviation              Position
0            GK            Goalkeeper
1            LB             Left-Back
2            CB          Central-Back
3            RB            Right-Back
4           LWB        Left Wing-Back
5           RWB       Right Wing-Back
6           CDM  Defensive Midfielder
7            LM       Left Midfielder
8            CM    Central Midfielder
9            RM      Right Midfielder
10          CAM  Attacking Midfielder
11           LW           Left Winger
12           RW          Right Winger
13           LF          Left Forward
14           CF        Centre Forward
15           RF         Right Forward
16           ST               Striker

## Column: 'Value'

- Convert the column to integer type, rename it, and standardize the values.
- Some values are expressed in thousands of euros, while others are in millions.
- In Markdown, the values are standardized to millions of euros.
os

In [36]:
players_df['Value'].sample(10)

7968     €2.2M
5987     €1.5M
9463     €925K
6290     €1.5M
2165     €4.9M
6910     €1.2M
15629    €550K
12461    €220K
18064    €250K
9306     €1.1M
Name: Value, dtype: object

In [37]:
players_df['Value'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Value
Non-Null Count  Dtype
--------------  -----
18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [38]:
# Change the name of the column to "value_euros_millons"

players_df=players_df.rename(columns={'Value':'value_millons_of_euros'})
players_df['value_millons_of_euros'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: value_millons_of_euros
Non-Null Count  Dtype
--------------  -----
18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [39]:
#Remove the '€' symbol

players_df['value_millons_of_euros'] = players_df['value_millons_of_euros'].str.lstrip('€')
players_df['value_millons_of_euros'].sample(5)

5022     1.6M
9245     1.6M
6995     1.6M
16465    450K
13095    525K
Name: value_millons_of_euros, dtype: object

In [40]:
# Extract values expressed in thousands of euros

thousands = players_df['value_millons_of_euros'].loc[players_df['value_millons_of_euros'].str.contains('K')].to_list()

# Convert values from thousands to millions

millions = [str((float(thousand.rstrip('K'))/1000))+"M" for thousand in thousands]

# Create a dictionary to map values expressed in thousands to millions

millions_dict = dict(zip(thousands, millions))

# Replace values in the 'value_millons_of_euros' column with their equivalent in millions

players_df.replace({'value_millons_of_euros': millions_dict}, inplace=True)

# Remove 'M' suffix and convert the column to float type

players_df['value_millons_of_euros'] = players_df['value_millons_of_euros'].str.rstrip('M').astype(float)

# Sample 10 random values from the 'value_millons_of_euros' column

players_df['value_millons_of_euros'].sample(10)

10889    0.625
7332     1.500
7802     0.550
5442     3.000
9209     1.200
10598    1.700
16021    0.550
3818     2.400
8177     1.100
14504    0.425
Name: value_millons_of_euros, dtype: float64

## Column: 'Wage'
- Similar to value column, in this case the wage will be expresed in thousands of euros

In [41]:

players_df['Wage'].loc[players_df['Wage'].str.contains('K')]

0        €560K
1        €220K
2        €125K
3        €370K
4        €270K
         ...
18970      €1K
18972      €1K
18974      €1K
18977      €2K
18978      €1K
Name: Wage, Length: 15029, dtype: object

In [42]:

players_df = players_df.rename(columns={'Wage': 'wage_thousands_€'})

players_df['wage_thousands_€'] = players_df['wage_thousands_€'].str.lstrip('€')

thousands_k = players_df['wage_thousands_€'].loc[players_df['wage_thousands_€'].str.contains('K')].to_list()

number_thousands = [str(int(number.rstrip('K'))*1000) + 'K' for number in thousands_k]

thousands_dict = dict(zip(thousands_k, number_thousands))

players_df.replace({'wage_thousands_€': thousands_dict}, inplace=True)

players_df['wage_thousands_€'] = players_df['wage_thousands_€'].str.rstrip('K').astype(int)

players_df['wage_thousands_€'].sample(10)

167      140000
3574      24000
10559       500
8471       6000
7048      10000
2200      24000
3460       1000
2231      22000
18148       500
17236       750
Name: wage_thousands_€, dtype: int64

## Column: 'Release Clause'
- Similar to the other monetary columns, converted to thousands of euros

In [43]:
players_df['Release Clause'].sample(10)

3564      €6.6M
16339        €0
4207      €1.3M
6649      €2.1M
1685     €14.2M
16036     €726K
6347         €0
5957      €2.3M
10351        €0
18434     €169K
Name: Release Clause, dtype: object

In [44]:
players_df['Release Clause'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Release Clause
Non-Null Count  Dtype
--------------  -----
18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [45]:
players_df = players_df.rename(columns={'Release Clause': 'release_clause_thousands_€'})

players_df['release_clause_thousands_€'] = players_df['release_clause_thousands_€'].str.lstrip('€')

thousands_k = players_df['release_clause_thousands_€'].loc[players_df['release_clause_thousands_€'].str.contains('K')].to_list()

number_thousands = [str(int(number.rstrip('K'))/1000) + 'M' for number in thousands_k]

thousands_dict = dict(zip(thousands_k, number_thousands))

players_df.replace({'release_clause_thousands_€': thousands_dict}, inplace=True)

players_df['release_clause_thousands_€'] = players_df['release_clause_thousands_€'].str.rstrip('M').astype(float)
players_df['release_clause_thousands_€'].sample(10)

17766     0.189
259      25.500
6256      3.100
6685      0.920
11196     0.000
13318     1.900
11095     1.000
7421      0.878
4387      4.700
11947     0.439
Name: release_clause_thousands_€, dtype: float64

## Column: 'Height'
- Initially, the data type of the column is 'object'.
- To enable further analysis, it's converted to 'int'.
- The column is renamed to 'height_cm' to enhance clarity.
- While converting, it was identified that some values were expressed in the American unit sy.
tem.
em.
ty.m'

In [46]:
players_df['Height'].sample(10)

9142     175cm
1722     192cm
17269    176cm
16488    171cm
2100     198cm
2539     178cm
2229     183cm
8391     190cm
1278     184cm
18380    186cm
Name: Height, dtype: object

In [47]:

players_df = players_df.rename(columns={'Height': 'height_cm'})
players_df['height_cm'].sample(5)

17692    196cm
12311    180cm
933      180cm
12764    191cm
7510     178cm
Name: height_cm, dtype: object

In [48]:

heights ={'5\'0"':'152cm',
          '5\'1"': '155cm',
          '5\'2"':'157cm',
          '5\'3"': '160cm',
          '5\'4"': '163cm',
          '5\'5"': '165cm',
          '5\'6"': '168cm',
          '5\'7"': '170cm',
          '5\'8"': '173cm',
          '5\'9"': '175cm',
          '5\'10"': '178cm',
          '5\'11"': '180cm',
          '6\'0"': '183cm',
          '6\'1"': '185cm',
          '6\'2"': '188cm',
          '6\'3"': '190cm',
          '6\'4"': '193cm',
          '6\'5"': '195cm',
          '6\'6"': '198cm',
          '6\'7"': '200m',
          '6\'8"': '203cm',
          '6\'9"': '206cm',
          '6\'10"': '208m',
          '6\'11"': '211cm'}
players_df.replace({'height_cm': heights}, inplace=True)
players_df['height_cm'] = players_df['height_cm'].str.rstrip('cm').astype(int)
players_df['height_cm'].sample(10)

12956    187
8824     192
6174     181
13050    183
12269    178
10335    185
4076     185
12428    185
14820    180
4196     175
Name: height_cm, dtype: int64

## Column: 'Weight'
- Similar procedure than the one used in 'height_cm' column

In [49]:

players_df['Weight'].sample(15)

15032    70kg
11331    60kg
6569     78kg
11887    70kg
316      80kg
6181     67kg
992      68kg
8208     92kg
12038    74kg
1349     65kg
8591     74kg
15512    69kg
12171    71kg
14066    72kg
4035     74kg
Name: Weight, dtype: object

In [50]:
#Rename the column to 'weight_kg'

players_df = players_df.rename(columns={'Weight': 'weight_kg'})
players_df['weight_kg'].sample()

8881    67kg
Name: weight_kg, dtype: object

In [51]:

players_df[['LongName', 'weight_kg']].loc[players_df['weight_kg'].str.contains('lbs')]

                             LongName weight_kg
793           Miguel Ángel Moyá Rumbo    183lbs
847                     Martin Škrtel    179lbs
848                          Bas Dost    183lbs
860  Sérgio Miguel Relvas de Oliveira    172lbs
861                       Marwin Hitz    196lbs
862         Víctor Laguardia Cisneros    176lbs
863                  Youssef El Arabi    185lbs
864                   Germán Pezzella    179lbs
865                 Ricardo Rodríguez    170lbs
866              Iago Herrerín Buisán    196lbs
867                      Enda Stevens    172lbs
868                        Chris Wood    203lbs
869                  Alexandr Kokorin    183lbs
871                    Luis Rodríguez    168lbs
872                   Ashley Westwood    161lbs
873                     Callum Wilson    146lbs
874                    Manuel Lanzini    130lbs
875              Kevin-Prince Boateng    190lbs
876                       Senad Lulić    172lbs
877                   Antonio Mirante    174lbs
878                    Lautaro Acosta    148lbs
879                     Matías Suárez    165lbs
880           Rafael de Souza Pereira    172lbs
881                   Mateo Musacchio    161lbs
883          Víctor David Díaz Miguel    159lbs
884                    Papakouli Diop    170lbs
885                    Etienne Capoue    192lbs
886                    Felipe Caicedo    181lbs
887                      Pablo Piatti    139lbs
888                  Antonio Candreva    154lbs
889                   Mathieu Debuchy    168lbs
890                      Carlos Tévez    170lbs
891                 Domenico Criscito    165lbs
892                         José Sosa    157lbs
893                Jorge Molina Vidal    159lbs
894   Andrés Eduardo Fernández Moreno    181lbs
895        José Miguel da Rocha Fonte    179lbs
896                   Andrés Guardado    148lbs
897                      Victor Moses    170lbs
898                    Lisandro López    163lbs

In [52]:

weights_lbs = players_df['weight_kg'].loc[players_df['weight_kg'].str.contains('lbs')].to_list()

weights_kg = [str(round((int(weight.rstrip('lbs'))/2.206)))+"kg" for weight in weights_lbs]

weights_dict = dict(zip(weights_lbs,weights_kg))

players_df.replace({'weight_kg': weights_dict}, inplace=True)

players_df['weight_kg'] = players_df['weight_kg'].str.rstrip('kg').astype(int)

players_df['weight_kg'].sample(10)

539      80
5099     69
11586    84
8401     72
3835     70
13910    78
14386    75
9977     79
5495     75
15997    75
Name: weight_kg, dtype: int64

## Column: 'Hits'
- The 'Hits' column denotes the total number of hits recorded for each player.

In [53]:

players_df['Hits'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Hits
Non-Null Count  Dtype
--------------  -----
16384 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [54]:

players_df['Hits'].sample(15)

4887     22
12289    11
8750      8
7190     13
11143    30
12607    10
11518     7
3058      9
3474      3
4379      6
10054     9
14312     6
13428     2
7384     15
6939      2
Name: Hits, dtype: object

In [55]:

players_df['Hits'].isna().value_counts()

Hits
False    16384
True      2595
Name: count, dtype: int64

In [56]:

players_df['Hits'] = players_df['Hits'].fillna(0)

In [57]:

players_df['Hits'].isna().value_counts()

Hits
False    18979
Name: count, dtype: int64

## Columns: "SM" , "W/F" , "IR" 
- remove ★ at the end of value

In [58]:

players_df[ "SM"].value_counts()

SM
2★    9142
3★    6577
1★    2075
4★    1130
5★      55
Name: count, dtype: int64

In [59]:
players_df[ "W/F"].value_counts()

W/F
3 ★    11695
2 ★     4141
4 ★     2722
5 ★      283
1 ★      138
Name: count, dtype: int64

In [60]:
players_df[ "IR"].value_counts()

IR
1 ★    17629
2 ★     1018
3 ★      281
4 ★       45
5 ★        6
Name: count, dtype: int64

In [61]:

players_df[ "W/F"] = players_df[ "W/F"].str.rstrip("★").astype(int)

In [62]:

players_df[ "SM"] = players_df["SM"].str.rstrip("★").astype(int)

In [63]:

players_df[ "IR"] = players_df[ "IR"].str.rstrip("★").astype(int)

## Column "Hits"
- convert to int and deal with k string at the end of value

In [64]:

def value_converter(value):
    if pd.notna(value):
        if isinstance(value, str) and 'K' in value:
            return float(value.replace('K', '')) * 1000
        else:
            return float(value)
    else:
        return value

players_df["Hits"] = players_df["Hits"].apply(value_converter).astype(int)

players_df["Hits"]

0        771
1        562
2        150
3        207
4        595
        ...
18974      0
18975      0
18976      0
18977      0
18978      0
Name: Hits, Length: 18979, dtype: int64

In [65]:

players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          18979 non-null  int64
 1   Name                        18979 non-null  object
 2   LongName                    18979 non-null  object
 3   Nationality                 18979 non-null  object
 4   Age                         18979 non-null  int64
 5   ↓OVA                        18979 non-null  int64
 6   POT                         18979 non-null  int64
 7   Club                        18979 non-null  object
 8   Contract                    18979 non-null  object
 9   Positions                   18979 non-null  object
 10  height_cm                   18979 non-null  int64
 11  weight_kg                   18979 non-null  int64
 12  Preferred Foot              18979 non-null  object
 13  BOV                         18979 non-null  int64
 14  Best Position               18979 non-null  object
 15  Joined                      18979 non-null  datetime64[ns]
 16  Loan Date End               1013 non-null   datetime64[ns]
 17  value_millons_of_euros      18979 non-null  float64
 18  wage_thousands_€            18979 non-null  int64
 19  release_clause_thousands_€  18979 non-null  float64
 20  Attacking                   18979 non-null  int64
 21  Crossing                    18979 non-null  int64
 22  Finishing                   18979 non-null  int64
 23  Heading Accuracy            18979 non-null  int64
 24  Short Passing               18979 non-null  int64
 25  Volleys                     18979 non-null  int64
 26  Skill                       18979 non-null  int64
 27  Dribbling                   18979 non-null  int64
 28  Curve                       18979 non-null  int64
 29  FK Accuracy                 18979 non-null  int64
 30  Long Passing                18979 non-null  int64
 31  Ball Control                18979 non-null  int64
 32  Movement                    18979 non-null  int64
 33  Acceleration                18979 non-null  int64
 34  Sprint Speed                18979 non-null  int64
 35  Agility                     18979 non-null  int64
 36  Reactions                   18979 non-null  int64
 37  Balance                     18979 non-null  int64
 38  Power                       18979 non-null  int64
 39  Shot Power                  18979 non-null  int64
 40  Jumping                     18979 non-null  int64
 41  Stamina                     18979 non-null  int64
 42  Strength                    18979 non-null  int64
 43  Long Shots                  18979 non-null  int64
 44  Mentality                   18979 non-null  int64
 45  Aggression                  18979 non-null  int64
 46  Interceptions               18979 non-null  int64
 47  Positioning                 18979 non-null  int64
 48  Vision                      18979 non-null  int64
 49  Penalties                   18979 non-null  int64
 50  Composure                   18979 non-null  int64
 51  Defending                   18979 non-null  int64
 52  Marking                     18979 non-null  int64
 53  Standing Tackle             18979 non-null  int64
 54  Sliding Tackle              18979 non-null  int64
 55  Goalkeeping                 18979 non-null  int64
 56  GK Diving                   18979 non-null  int64
 57  GK Handling                 18979 non-null  int64
 58  GK Kicking                  18979 non-null  int64
 59  GK Positioning              18979 non-null  int64
 60  GK Reflexes                 18979 non-null  int64
 61  Total Stats                 18979 non-null  int64
 62  Base Stats                  18979 non-null  int64
 63  W/F                         18979 non-null  int64
 64  SM                          18979 non-null  int64
 65  A/W                         18979 non-null  object
 66  D/W                         18979 non-null  object
 67  IR                          18979 non-null  int64
 68  PAC                         18979 non-null  int64
 69  SHO                         18979 non-null  int64
 70  PAS                         18979 non-null  int64
 71  DRI                         18979 non-null  int64
 72  DEF                         18979 non-null  int64
 73  PHY                         18979 non-null  int64
 74  Hits                        18979 non-null  int64
 75  On Loan                     18979 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(2), int64(61), object(10)
memory usage: 10.9+ MB

## Result

In [66]:

players_df

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,On Loan
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"[RW, ST, CF]",...,Low,5,85,92,91,95,38,65,771,False
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"[ST, LW]",...,Low,5,89,93,81,89,35,77,562,False
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,[GK],...,Medium,3,87,92,78,90,52,90,150,False
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"[CAM, CM]",...,High,4,76,86,93,88,64,78,207,False
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"[LW, CAM]",...,Medium,5,91,85,86,94,36,59,595,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,2018 ~ 2022,[CB],...,Medium,1,64,28,26,38,48,51,0,False
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,2020 ~ 2021,[CM],...,Medium,1,64,40,48,49,35,45,0,False
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,2019 ~ 2020,[CM],...,Medium,1,63,39,44,46,40,53,0,False
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,2020 ~ 2022,[RW],...,Medium,1,58,49,41,49,30,44,0,False
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,2019 ~ 2023,"[CB, LB]",...,Medium,1,62,22,39,42,45,55,0,False

In [67]:

players_df_filtered = players_df[players_df['Nationality'] != 'Israel']
players_df_filtered.count()

ID             18960
Name           18960
LongName       18960
Nationality    18960
Age            18960
               ...
DRI            18960
DEF            18960
PHY            18960
Hits           18960
On Loan        18960
Length: 76, dtype: int64

In [68]:

players_df_filtered.to_csv("fifa21_raw_data_v2_cleaned.csv", index=False)

print("data saved")

data saved